.git
.env
.env.backup
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
storage/*.key
storage/api-docs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor

